{# @TODO : Make this configurable #}
<!DOCTYPE html>
<html>
<head>
    <title>TreeBundle Admin</title>
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/umanittree/vendor/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/umanittree/vendor/js/jquery.fancytree-all-deps.min.js') }}"></script>
    <script src="{{ asset('bundles/umanittree/vendor/js/jquery.fancytree.dnd.js') }}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>