{# @TODO : Make this configurable #}
<!DOCTYPE html>
<html>
<head>
    <title>TreeBundle Admin</title>
    <script src="{{ asset('bundles/umanittree/vendor/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/umanittree/vendor/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/umanittree/vendor/js/jquery.fancytree-all-deps.min.js') }}"></script>
    <script src="{{ asset('bundles/umanittree/vendor/js/jquery.fancytree.dnd.js') }}"></script>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>