{% if admin.canAccessObject('show', object) and admin.show|length > 0 and admin.hasRoute('show') %}
    <li>
        <a target="_blank" class="sonata-action-element" href="{{ get_path(object) }}">
            <i class="fa fa-eye" aria-hidden="true"></i>
            {{ 'link_action_show'|trans({}, 'SonataAdminBundle') }}
        </a>
    </li>
{% endif %}
