.umanit-admin-collection-btn {
    float: none;
    margin: 5px;
}

.umanit-sortable-content {
    background-color: #f6f6f6;
    padding: 15px 40px 0px 40px;
}

div.sonata-collection-row a.umanit_delete_button{
    display:none;
}

.input-group.date {
    width: 200px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.box-footer .select2-container.form-control {
    display: inline-block;
}

/*--- Fancytree ---*/
.umanit-fancytree .ui-fancytree { border-color: transparent; }
.umanit-fancytree .ui-fancytree > li + li { margin-top: 15px; }